---
groups:
  calendar: 달력
---

<!doctype html>
<html lang="ko">
  <head>
    <title><%= pkgInfo.siteName %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/index/common.css">
    <link rel="stylesheet" href="/styles/index/index.css">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
  </head>

  <body>
    <div class="container">
      <div
        id="asideCol"
        class="asideCol col">

        <div class="projectInfo expanded">

          <div class="meta">
            <dl class="version" title="Current Version">
              <dt>Version</dt>
              <dd>
                <a
                  href="<%- pkgInfo.homepage %>/blob/master/CHANGELOG.md"
                  target="_blank">
                  <%= pkgInfo.version %>
                </a>
              </dd>
            </dl>
          </div>
        </div>

        <div class="pages">
          <div class="asideWrapper">

            <% for (var group in list) { %>
              <div class="group">
                <h3><%= list[group].name %></h3>
                <ul>
                  <% list[group].pages.forEach(function(page) { %>
                    <li>
                      <a
                        href="<%- page.href %>"
                        data-token="<%- page.token %>"
                        class="innerLink"
                        data-group-name="<%= list[group].name %>">
                        <span><%= page.text %></span>
                      </a>

                      <a
                        href="<%- page.href %>"
                        class="newWindow"
                        title="새 창에서 열기"
                        target="_blank">새창</a>
                    </li>
                  <% }) %>
                </ul>
              </div>
            <% } %>

          </div>
        </div>
      </div>

      <div class="splitter col"></div>

      <div class="contentCol col">
        <div class="contentHeader">
          <div id="pageTitle" class="pageTitle">
            <h2>
              <span class="groupName"></span> -
              <span class="pageName"></span>
            </h2>
            <p class="url">&nbsp;</p>
          </div>

          <div class="mainHeaderLink">
            <a
              id="viewOrigin"
              href="#"
              class="openWithNewWindow"
              target="_blank">new window</a>
          </div>
        </div>

        <iframe id="contentFrame" class="frame"></iframe>
      </div>
    </div>

    <script src="/scripts/index/jquery.js"></script>
    <script src="/scripts/index/index.js"></script>
  </body>
</html>
